
Project/Coolbooks/.vs/Coolbooks/FileContentIndex/eac18c61-2e72-4098-82a1-29b1bad47d73.vsidx
Project/Coolbooks/Coolbooks/obj/Debug/net7.0/Coolbooks.GeneratedMSBuildEditorConfig.editorconfig
Project/Coolbooks/Coolbooks/obj/Debug/net7.0/Coolbooks.GeneratedMSBuildEditorConfig.editorconfig
Project/Coolbooks/Coolbooks/obj/Debug/net7.0/Coolbooks.assets.cache
