@page
@model Coolbooks.Pages.AddModel
@{
    ViewData["Title"] = "Add Content";
}

<h1>@ViewData["Title"]</h1>
<p>This is where Admins can add books and other content.</p>

<h2>
    Add Book
    <form>
        <input />
        <br />
        <input />
        <br />
        <input />
        <br />
        <input />
    </form>
</h2>
